<div class="dialog-form-product">
    <h2>{{ data?.id ? 'Editar produto' : 'Novo produto' }}</h2>
    <form [formGroup]="productForm" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preco</mat-label>
            <input type="number" matInput formControlName="price">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea rows="3" matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category_id">
                @for (category of categories; track category.id) {
                    <mat-option [value]="category.id">{{ category.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button [disabled]="productForm.invalid" type="submit" mat-raised-button color="primary">Salvar</button>
    </form>
</div>