header {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100dvh;
  background-color: #202020;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  z-index: 1000;
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px white;
    .img-logo {
      background-color: #f0f0f0;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      img {
        width: 50px;
      }
    }
    h1 {
      font-size: 1.25rem;
    }
  }
  .toggle {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    z-index: 1000;
    translate: 0 0;
    transition: .3s;
    &.ativo{
        translate: -100% 0;
    }
    .toggle{
        background-color: #202020;
        position: absolute;
        right: 0;
        top: 80px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        // display: flex;
        display: none;
        justify-content: center;
        align-items: center;
        translate: 100% 0;
        border-radius: 0 5px 5px 0;
    }
    .logo{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 2rem;
        border-bottom: solid 1px white;
        .img-logo{
            background-color: #f0f0f0;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            img{
                width: 50px;
            }
        }
        h1{
            font-size: 1.25rem;
        }
    }
  }
}

@media (max-width: 1368px) {
  header {
    width: 200px;
    padding: 0.5rem;
    .logo {
      h1 {
        font-size: 1rem;
      }
    }
<<<<<<< HEAD
}
@media (max-width: 1024px){
    header{
        .toggle{
            display: flex;
        }
    }
}
=======
    nav {
      a {
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    transition: 0.3s;
    &.ativo {
      translate: -100% 0;
    }
    .toggle {
      background-color: #202020;
      padding: 0.25rem;
      border-radius: 0 3px 3px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 90px;
      right: 0;
      cursor: pointer;
      translate: 100% 0;
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
>>>>>>> 2360fd4cf714563e9f7aa809e1c7e51ec0e9ae4e
