.page-orders {
  .conteudo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    h3 {
      font-weight: 600;
    }
    .form-pedido {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 1rem;
      border-radius: 1rem;
      .topo-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn-cancelar {
          background-color: #f44336;
          color: white;
          padding: 0.5rem 1rem;
          border: none;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: #c62828;
          }
        }
      }
      .produtos {
        display: flex;
        // align-items: center;
        gap: 1rem;
        mat-form-field {
          flex-grow: 1;
        }
        .btn-add {
          cursor: pointer;
          aspect-ratio: 1;
          height: 75%;
          border: none;
          background-color: #202020;
          color: white;
          font-size: 2rem;
          border-radius: 1rem;
        }
      }
    }
    .itens-selecionados {
      background-color: white;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .tabela-itens {
        width: 100%;
        text-align: center;
        th {
          border-bottom: solid 1px #dadada;
        }
        td {
          padding: 1rem;
          .btn-quantidade {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            border: none;
            background-color: #f0f0f0;
            cursor: pointer;
            margin: 0 0.5rem;
            aspect-ratio: 1;
          }
          .btn-excluir {
            background-color: #ff0000;
            color: white;
            border-radius: 5px;
          }
        }
        tr:not(:last-child) {
          td {
            border-bottom: solid 1px #dadada;
          }
        }
      }
    }
    .resumo-pedido {
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 1rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: fit-content;
      .infos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .texto-mesa {
            color: white;
            background-color: #202020;
            padding: 0.25rem 1rem;
            border-radius: 1rem;
          }
        }
      }
      .total {
        display: flex;
        justify-content: space-between;
      }
      .observacoes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .btn-finalizar {
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        border: none;
        background-color: #202020;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #1e1e1e;
        }
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
    .pedidos {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 1rem;
      border-radius: 1rem;
      .lista-pedidos {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .pedido {
          mat-expansion-panel.mat-elevation-z {
            box-shadow: none !important;
            background-color: white !important;
            border: solid 1px #dadada;
            //   border-radius: 0;
            .mat-expansion-panel-header {
              justify-content: space-between !important;
              height: auto;
              .header-panel {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 0.5rem 0;
                .btns {
                  display: flex;
                  gap: 1rem;
                  align-items: center;
                  .btn-finalizar {
                    background-color: #197208;
                    border-radius: 5px;
                    color: white;
                    padding: 0.5rem 1rem;
                    border: none;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                      background-color: #1e7e1e;
                    }
                  }
                  .btn-cancelar {
                    background-color: #f44336;
                    color: white;
                    border-radius: 5px;
                    padding: 0.5rem 1rem;
                    border: none;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                      background-color: #c62828;
                    }
                  }
                }
              }
            }
            .desc {
              margin-top: 1rem;
              background-color: #f0f0f0;
              padding: 0.25rem 0.5rem;
            }
            .itens {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              height: 300px;
              overflow-y: scroll;
              margin-top: 1rem;
              .topo-itens {
                .btns {
                  .btn-editar {
                    background-color: #e2c20a;
                    color: black;
                    border-radius: 5px;
                    padding: 0.5rem 1rem;
                    border: none;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                      background-color: #ffc107;
                    }
                  }
                }
              }
              .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.25rem 0.5rem;
                &:nth-child(even) {
                  background-color: #f0f0f0;
                }
                .desc-item {
                  .nome {
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1368px) {
  .page-orders {
    .conteudo {
      grid-template-columns: 3fr 1fr;
      gap: 1rem;
      .form-pedido {
        .itens-selecionados {
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .page-orders {
    .conteudo {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
}

@media (max-width: 580px) {
  .page-orders {
    .conteudo {
      .form-pedido {
        overflow-x: scroll;
        .topo-form {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          h3:nth-child(2) {
            font-size: 90%;
          }
        }
        .itens-selecionados {
          overflow: scroll;
          .tabela-itens {
            min-width: 600px;
            thead {
              tr {
                th {
                  font-size: 0.875rem;
                }
              }
            }
            tbody {
              tr {
                td {
                  font-size: 0.875rem;
                  min-width: 130px;
                  max-width: 160px;
                  padding: 0.5rem;
                }
                .quantidade-cell {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
