<article #pdfContent class="pdf">
  <div class="topo">
    <img src="./logo.png" alt="">
    <div class="infos">
      <h1>Relatório de pedidos</h1>
      <small>{{ report?.period?.start_date | date: "dd/MM/yyyy" }} - {{ report?.period?.end_date | date: "dd/MM/yyyy" }}</small>
    </div>
  </div>
  <div class="conteudo">
    <div class="card">
      <div class="topo-card">
        <span>Receita Total do período</span>
        <mat-icon>attach_money</mat-icon>
      </div>
      <!-- placeholder -->
      <h2 class="valor">
        {{ report?.total_revenue | currency: "BRL" : "symbol" : "1.2-2" }}
      </h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Pedidos no período</span>
        <mat-icon>shopping_cart</mat-icon>
      </div>
      <!-- placeholder -->
      <h2 class="valor">{{ report?.total_orders }}</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Ticket Médio no período</span>
        <mat-icon>attach_money</mat-icon>
      </div>
      <!-- placeholder -->
      <h2 class="valor">
        {{ report?.average_ticket | currency: "BRL" : "symbol" : "1.2-2" }}
      </h2>
    </div>
    <div class="card grafico">
      <div class="topo-card">
        <h3>Vendas por categoria</h3>
      </div>
      @if (report) {
        <app-chart-sales-by-category
          [salesByCategory]="report.sales_by_category"
        ></app-chart-sales-by-category>
      }
    </div>
    <div class="card grafico">
      <div class="topo-card">
        <h3>Produtos mais vendidos</h3>
      </div>
      @if (report) {
        <app-chart-top-products
          [products]="report.top_products"
        ></app-chart-top-products>
      }
    </div>
  </div>
</article>
