<article class="dashboard">
  <div class="topo">
    <h1>Dashboard</h1>
    <p>Visão geral</p>
  </div>
  <div class="conteudo">
    <div class="card">
      <div class="topo-card">
        <span>Receita Total</span>
        <mat-icon>attach_money</mat-icon>
      </div>
      <h2 class="valor">R$ 15.340,45</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Pedidos</span>
        <mat-icon>shopping_cart</mat-icon>
      </div>
      <h2 class="valor">354</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Produtos</span>
        <mat-icon>inventory</mat-icon>
      </div>
      <h2 class="valor">47</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Ticket Médio</span>
        <mat-icon>attach_money</mat-icon>
      </div>
      <h2 class="valor">R$ 105,46</h2>
    </div>
    <div class="card grafico">
      <div class="topo-card">
        <h3>Vendas semanais</h3>
      </div>
    </div>
    <div class="card grafico">
      <div class="topo-card">
        <h3>Produtos mais vendidos</h3>
      </div>
      <div class="itens">
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Pizza 4 Queijos</h4>
            <span class="vendas">71 vendas</span>
          </div>
          <span class="receita">R$ 2.840</span>
        </div>
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Hambúrguer Artesanal</h4>
            <span class="vendas">52 vendas</span>
          </div>
          <span class="receita">R$ 1.250</span>
        </div>
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Lasanha Bolonhesa</h4>
            <span class="vendas">34 vendas</span>
          </div>
          <span class="receita">R$ 952</span>
        </div>
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Salmão Grelhado</h4>
            <span class="vendas">18 vendas</span>
          </div>
          <span class="receita">R$ 900</span>
        </div>
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Tiramisù</h4>
            <span class="vendas">14 vendas</span>
          </div>
          <span class="receita">R$ 420</span>
        </div>
      </div>
    </div>
  </div>
</article>
