<article class="dashboard">
  @if (isLoading) {
    <app-loading></app-loading>
  }
  <div class="topo">
    <h1>Dashboard</h1>
    <p>Visão geral</p>
  </div>
  <div class="conteudo">
    <div class="card">
      <div class="topo-card">
        <span>Receita Total do mês</span>
        <mat-icon>attach_money</mat-icon>
      </div>
      <h2 class="valor">{{ dashboard?.monthly_revenue | currency: "BRL" : "symbol" : "1.2-2" }}</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Pedidos no mês</span>
        <mat-icon>shopping_cart</mat-icon>
      </div>
      <h2 class="valor">{{ dashboard?.monthly_orders }}</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Total de Produtos</span>
        <mat-icon>inventory</mat-icon>
      </div>
      <h2 class="valor">{{ dashboard?.total_products }}</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Ticket Médio deste mês</span>
        <mat-icon>attach_money</mat-icon>
      </div>
      <h2 class="valor">{{ dashboard?.avg_ticket | currency: "BRL" : "symbol" : "1.2-2" }}</h2>
    </div>
    <div class="card grafico">
      <div class="topo-card">
        <h3>Vendas semanais</h3>
      </div>
      <div class="chart-container">
        <canvas
          baseChart
          [data]="chartData"
          [options]="chartOptions"
          [type]="'bar'"
        ></canvas>
      </div>
    </div>
    <div class="card grafico">
      <div class="topo-card">
        <h3>Produtos mais vendidos</h3>
        <select (change)="changePeriod($event)">
          <option value="week" selected>Semana</option>
          <option value="month">Mês</option>
          <option value="total">Total</option>
        </select>
      </div>
      <div class="itens">
        @if (topProducts.length > 0) {
          @for (product of topProducts; track product.id) {
            <div class="item">
              <div class="desc-item">
                <h4 class="nome">{{ product.product_name }}</h4>
                <span class="vendas">{{ product.total_sold }} vendas</span>
              </div>
              <span class="receita">{{ product.total_revenue | currency: 'BRL' : 'symbol': '1.2-2' }}</span>
            </div>
          }
        } @else {
          <h3>Nenhum produto vendido no período</h3>
        }
      </div>
    </div>
  </div>
</article>
