<article class="dashboard">
  @if (isLoading) {
    <app-loading></app-loading>
  }
  <div class="topo">
    <h1>Dashboard</h1>
    <p>Visão geral</p>
  </div>
  <div class="conteudo">
    <div class="card">
      <div class="topo-card">
        <span>Receita Total do mês</span>
        <mat-icon>attach_money</mat-icon>
      </div>
      <h2 class="valor">{{ floatToBRL(dashboard?.monthly_revenue) }}</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Pedidos no mês</span>
        <mat-icon>shopping_cart</mat-icon>
      </div>
      <h2 class="valor">{{ dashboard?.monthly_orders}}</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Total de Produtos</span>
        <mat-icon>inventory</mat-icon>
      </div>
      <h2 class="valor">{{ dashboard?.total_products }}</h2>
    </div>
    <div class="card">
      <div class="topo-card">
        <span>Ticket Médio deste mês</span>
        <mat-icon>attach_money</mat-icon>
      </div>
      <h2 class="valor">R$ 105,46</h2>
    </div>
    <div class="card grafico">
      <div class="topo-card">
        <h3>Vendas semanais</h3>
      </div>
      <div class="chart-container">
        <canvas
          baseChart
          [data]="chartData"
          [options]="chartOptions"
          [type]="'bar'"
          ></canvas>
      </div>
    </div>
    <div class="card grafico">
      <div class="topo-card">
        <h3>Produtos mais vendidos</h3>
        <select name="" id="">
          <option value="week" selected>Semana</option>
          <option value="month">Mês</option>
        </select>
      </div>
      <div class="itens">
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Pizza 4 Queijos</h4>
            <span class="vendas">71 vendas</span>
          </div>
          <span class="receita">R$ 2.840</span>
        </div>
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Hambúrguer Artesanal</h4>
            <span class="vendas">52 vendas</span>
          </div>
          <span class="receita">R$ 1.250</span>
        </div>
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Lasanha Bolonhesa</h4>
            <span class="vendas">34 vendas</span>
          </div>
          <span class="receita">R$ 952</span>
        </div>
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Salmão Grelhado</h4>
            <span class="vendas">18 vendas</span>
          </div>
          <span class="receita">R$ 900</span>
        </div>
        <div class="item">
          <div class="desc-item">
            <h4 class="nome">Tiramisù</h4>
            <span class="vendas">14 vendas</span>
          </div>
          <span class="receita">R$ 420</span>
        </div>
      </div>
    </div>
  </div>
</article>
