@use '@angular/material' as mat;

// html {
//   color-scheme: light dark;
//   @include mat.theme((
//     color: (
//       // primary: mat.define-palette(mat.$blue-palette),
//       // accent: mat.define-palette(mat.$pink-palette),
//       // warn: mat.define-palette(mat.$red-palette),
//     )
//   ));
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //   background-color: #f0f0f0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
}

a{
    text-decoration: none;
    color: inherit;
}

article {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
